body{
    background: #f2f6f6;
}

.board .dash-tickets{
    text-align: center;
}

.board .dash-tickets a{
    width:100%
}

.board .wallet a{
    width: 100%;
}

.contests_summary > div{
    width: 100%;
    background: #f2f6f6;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.contests_summary > div .dash-square{
    margin: 10px;
    background: white;
    box-shadow: 0 0 5px #e1e1e1;
    border-radius: 5px;
    padding: 10px;
}

.contests_summary > div .dash-square a{
    width: 100%;
}

.contests_summary h3{
    color: gray;
}

.board .wallet,.board .dash-tickets{
    background: white;
    padding: 10px;
    box-shadow: 0 0 5px #e1e1e1;
    border-radius: 5px;
}


.board .wallet .level *{
    font-size: 12px;
    text-align: center;
}

.board .wallet .level p{
    font-size: 14px;
    font-weight: bold;
}

#receive,#claim{
    top: 82px;
    text-align: center;
}

#receive p,#claim p{
    text-align: center;
    margin: auto;
    padding: 0;
    font-weight: bold;
}
