.line{
    height: 2px !important;
    background-color: #e5eded !important;
}


.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}

.db-bk-color-six {
    background-color: #F59B24;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }


    .column-chart {
        position: relative;
        z-index: 20;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 320px;
        margin-top: 40px;
        margin-left: -50%;
      }
      
      @media (min-width: 568px) {
        .column-chart {
          width: 80%;
          margin-left: -40%;
        }
      }
      
      @media (min-width: 768px) {
        .column-chart {
          width: 60%;
          margin-left: -30%;
        }
      }
      
      @media (min-width: 992px) {
        .column-chart {
          width: 40%;
          margin-left: -20%;
        }
      }
      
      @media (min-width: 1024px) {
        .column-chart {
          width: 36%;
          margin-left: -18%;
        }
      }
      
      .column-chart:before,
      .column-chart:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: calc(100% + 30px);
        height: 25%;
        margin-left: -15px;
        border-top: 1px dashed #b4b4b5;
        border-bottom: 1px dashed #b4b4b5;
      }
      
      .column-chart:after {
        top: 50%;
      }
      
      .column-chart > .legend {
        position: absolute;
        z-index: -1;
        top: 0;
      }
      
      .column-chart > .legend.legend-left {
        left: 0;
        width: 25px;
        height: 75%;
        margin-left: -55px;
        border: 1px solid #b4b4b5;
        border-right: none;
      }
      
      .column-chart > .legend.legend-left > .legend-title {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 65px;
        height: 50px;
        line-height: 50px;
        margin-top: -25px;
        margin-left: -60px;
        font-size: 28px;
        letter-spacing: 1px;
      }
      
      .column-chart > .legend.legend-right {
        right: 0;
        width: 100px;
        height: 100%;
        margin-right: -115px;
      }
      
      .column-chart > .legend.legend-right > .item {
        position: relative;
        width: 100%;
        height: 25%;
      }
      
      .column-chart > .legend.legend-right > .item > h4 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        font-size: 16px;
        color: #868686;
        font-family: 'Quicksand', sans-serif !important;
        text-align: center;
      }
      
      .column-chart > .chart {
        position: relative;
        z-index: 20;
        bottom: 0;
        left: 50%;
        width: 98%;
        height: 100%;
        margin-left: -49%;
      }
      
      .column-chart > .chart > .item {
        position: relative;
        float: left;
        height: 100%;
      }
      
      .column-chart > .chart > .item:before {
        position: absolute;
        z-index: -1;
        content: '';
        bottom: 0;
        left: 50%;
        width: 1px;
        height: calc(100% + 15px);
        border-right: 1px dashed #b4b4b5;
      }
      
      .column-chart > .chart > .item > .bar {
        position: absolute;
        bottom: 0;
        left: 3px;
        width: 94%;
        height: 100%;
      }
      
      .column-chart > .chart > .item > .bar > span.percent {
        display: block;
        position: absolute;
        z-index: 25;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 26px;
        line-height: 26px;
        color: #fff;
        background-color: #007cdc;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
      }
      
      .column-chart > .chart > .item > .bar > .item-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        color: #fff;
        background-color: #f8bd06;
      }
      
      .column-chart > .chart > .item > .bar > .item-progress > .title {
        position: absolute;
        top: calc(50% - 13px);
        left: 50%;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      }
      
      @media (min-width: 360px) {
        .column-chart > .chart > .item > .bar > .item-progress > .title {
          font-size: 16px;
        }
      }
      
      @media (min-width: 480px) {
        .column-chart > .chart > .item > .bar > .item-progress > .title {
          font-size: 18px;
        }
      }


      .indexTitle{
        font-family: 'Quicksand', sans-serif !important;
        margin: 20px;
        padding: 10px;
        text-align: center;
        color: #a1a1a1;
      }

  
  
      .stepwizard-step p {
        margin-top: 20px;   
        padding: 10px;
        font-family: 'Quicksand', sans-serif !important;
        font-size: 12px; 
    }

    .stepwizard button{
      background: #f8bd06;
      color: white;
      font-weight: bold;
    }
    
    .stepwizard-row {
        display: table-row;
    }
    
    .stepwizard {
        display: table;     
        width: 100%;
        position: relative;
    }
    
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    
    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        /* z-order: 0; */
        
    }
    
    .stepwizard-step {    
        display: table-cell;
        text-align: center;
        position: relative;
    }
    
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }