<p>Hi {{username}}</p>
<p>
Welcome to Fliipit, please confirm your email address by clicking on the link bellow:
</p>

<p>
<a href="https://www.fliipit.com/register/confirm/{{confirmation_token}}">Confirm your email address</a>
</p>